.section {
  text-align: center;

  inset: var(--size-nav-height) 0 auto 0;
}

.time {
  font-size: 5em;
  font-weight: bold;
}

@media screen and (max-width: 770px) {
  .time {
    font-size: 4em;
  }
}

.date {
  font-size: 2em;
}
